<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}Election Screenshots{% endblock title %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=0.6">
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Language" content="en" />

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles.css">

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block head %}
        {% endblock head %}
    </head>

    <body>
        <div class="navbar navbar-fixed-top sf-header">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{% url index %}">Election Screenshots</a>
                    <a class="sf-logo" href="http://www.sunlightfoundation.com"><img src="{{ STATIC_URL }}sfapp_logo.png"></a>
                </div>
            </div>
        </div>

        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url state-index %}">State List</a></li>
                {% if state %}
                <li><span class="divider">/</span></li>
                <li><a href="{% url state-details state %}">{{ state }}</a></li>
                {% endif %}
                {% if url %}
                <li><span class="divider">/</span></li>
                <li><a href="{{ url.url }}">{{ url.url }}</a></li>
                {% endif %}
            </ul>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>

