<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}Election Screenshots{% endblock title %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=0.6">
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Language" content="en" />

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles.css">

        <script src="{{ STATIC_URL }}jquery-latest.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
        <script src="http://assets.sunlightfoundation.com.s3.amazonaws.com/site/4.0/scripts/gigya.min.js"></script>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-22821126-27']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block head %}
        {% endblock head %}
    </head>

    <body>
        <div class="navbar navbar-fixed-top sf-header">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{% url index %}">Election Screenshots</a>
                    <a class="sf-logo" href="http://www.sunlightfoundation.com"><img src="{{ STATIC_URL }}sfapp_logo.png"></a>
                    <span class="share-buttons"
                        data-gigya="auto"
                        data-services="twitter-tweet, facebook, reddit"
                        data-options="linkBack=http%3A%2F%2Felectionshots.sunlightlabs.com&amp;title=The%20Sunlight%20Foundation's election night screenshot archive"
                        data-twitter-tweet-options="defaultText=Check%20out%20Sunlight's%20election%20night%20screenshot%20archive!&amp;countURL=http%3A%2F%2Fwww.sunlightfoundation.com">
                    </span>
                </div>
            </div>
        </div>

        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url state-index %}">State List</a></li>
                {% if state %}
                <li><span class="divider">/</span></li>
                <li><a href="{% url state-details state %}">{{ state }}</a></li>
                {% endif %}
                {% if url %}
                <li><span class="divider">/</span></li>
                <li><a href="{{ url.url }}">{{ url.url }}</a></li>
                {% endif %}
            </ul>
            {% block content %}
            {% endblock content %}
        </div>

        <script type="text/javascript">
            /* ChartBeat */
            var _sf_async_config={uid:980,domain:"electionshots.sunlightlabs.com"};
            (function(){
                function loadChartbeat() {
                    window._sf_endpt=(new Date()).getTime();
                    var e = document.createElement('script');
                    e.setAttribute('language', 'javascript');
                    e.setAttribute('type', 'text/javascript');
                    e.setAttribute('src',
                    (("https:" == document.location.protocol) ?
                    "https://s3.amazonaws.com/" : "http://") +
                    "static.chartbeat.com/js/chartbeat.js");
                    document.body.appendChild(e);
                }
                var oldonload = window.onload;
                window.onload = (typeof window.onload != 'function') ?
                loadChartbeat : function() { oldonload(); loadChartbeat(); };
            })();
        </script>

    </body>
</html>

