{% extends "screenshotter_base.html" %}

{% block content %}
        <table id="state-index">
            <thead>
                <tr>
                    <th>State</th>
                    <th>Latest Screenshot</th>
                    <th>Latest Mirror</th>
                </tr>
            </thead>
            <tbody>
            {% for state, attrs in states %}
                <tr>
                    <td><a href="{% url state-details state %}">{{ state }}</a></td>
                    <td> {{ attrs.latest_screenshot|date:"jS, h:i A" }} </td>
                    <td> {{ attrs.latest_mirror|date:"jS, h:i A" }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock content %}
