{% extends "screenshotter_base.html" %}

{% block title %}
    {{ state }}
{% endblock title %}

{% block breadcrumbs %}
    <li><a href="{% url state-index %}">State List</a></li>
    <li><span class="divider">/</span></li>
    <li><a href="{% url state-details state %}">{{ state }}</a></li>
{% endblock breadcrumbs %}

{% block content %}
        <span class="span9">
            <table id="url-list" class="table table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th>URL</th>
                        <th>Screenshots</th>
                        <th>Mirrors</th>
                    </tr>
                </thead>
                <tbody>

                {% for url in urls %}
                    <tr>
                        <td> <a class="no-overflow" href="{% url url-details url.state url.url_sha1 %}">{{ url.url }}</a> </td>
                        <td>{{ url.screenshots.count }}</td>
                        <td>{{ url.mirrors.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </span>
{% endblock content %}
