{% extends "screenshotter_base.html" %}
{% load relative_mirror_url %}

{% block title %}
    {{ state }}: {{ url.url }}
{% endblock title %}

{% block content %}
        <h2 class="url"><a href="{{ url.url }}">{{ url.url }}</a></h2>

        <span class="span5">
            {% if collapsed %}
            <a href="{% url url-details state url.url_sha1 %}">Expand duplicate screenshots</a>
            {% else %}
            <a href="{% url url-details-collapsed state url.url_sha1 %}">Collapse duplicate screenshots</a>
            {% endif %}

            <table id="url-list" class="table table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Screenshots</th>
                        <th>Mirrors</th>
                    </tr>
                </thead>
                <tbody>

                {% for timestamp, point_in_time in timeline %}
                    <tr>
                        <td>
                        {% if point_in_time.screenshot %}
                        <a href="{{ point_in_time.screenshot.image_url }}">{{ point_in_time.screenshot.timestamp|date:"jS, h:i A" }}</a>

                        {% endif %}
                        </td>
                        <td>
                        {% if point_in_time.mirror %}
                        <a href="/mirror/{{ point_in_time.mirror|relative_mirror_url }}">{{ point_in_time.mirror.timestamp|date:"jS h:i A" }}</a>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </span>
{% endblock content %}
